Planung/arbeitszeit.json
Planung/database.uml.uxf
Planung/ERD-Notation.png
Backendchallenge_04-21.pdf
AITIssueTracker.Model/obj/AITIssueTracker.Model.csproj.nuget.dgspec.json
AITIssueTracker.Model/obj/AITIssueTracker.Model.csproj.nuget.g.props
AITIssueTracker.Model/obj/AITIssueTracker.Model.csproj.nuget.g.targets
AITIssueTracker.Model/obj/project.assets.json
AITIssueTracker.Model/obj/project.nuget.cache
AITIssueTracker.Model/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
AITIssueTracker.Model/obj/Debug/netstandard2.0/AITIssueTracker.Model.AssemblyInfo.cs
AITIssueTracker.Model/obj/Debug/netstandard2.0/AITIssueTracker.Model.AssemblyInfoInputs.cache
AITIssueTracker.Model/obj/Debug/netstandard2.0/AITIssueTracker.Model.assets.cache
AITIssueTracker.Model/obj/Debug/netstandard2.0/AITIssueTracker.Model.csproj.CoreCompileInputs.cache
AITIssueTracker.Model/obj/Debug/netstandard2.0/AITIssueTracker.Model.csproj.FileListAbsolute.txt
AITIssueTracker.Model/obj/Debug/netstandard2.0/AITIssueTracker.Model.csprojAssemblyReference.cache
AITIssueTracker.Model/obj/Debug/netstandard2.0/AITIssueTracker.Model.dll
AITIssueTracker.Model/obj/Debug/netstandard2.0/AITIssueTracker.Model.pdb
AITIssueTracker.Model/bin/Debug/netstandard2.0/AITIssueTracker.Model.deps.json
AITIssueTracker.Model/bin/Debug/netstandard2.0/AITIssueTracker.Model.dll
AITIssueTracker.Model/bin/Debug/netstandard2.0/AITIssueTracker.Model.pdb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/AITIssueTracker/DesignTimeBuild/.dtbcache.v2
.vs/AITIssueTracker/config/applicationhost.config
.vs/AITIssueTracker/v16/.suo
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.API.deps.json
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.API.dll
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.API.exe
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.API.pdb
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.API.runtimeconfig.dev.json
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.API.runtimeconfig.json
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.API.xml
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.Model.dll
AITIssueTracker.API/bin/Debug/net5.0/AITIssueTracker.Model.pdb
AITIssueTracker.API/bin/Debug/net5.0/appsettings.Development.json
AITIssueTracker.API/bin/Debug/net5.0/appsettings.json
AITIssueTracker.API/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
AITIssueTracker.API/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
AITIssueTracker.API/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.dll
AITIssueTracker.API/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.Versioning.dll
AITIssueTracker.API/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
AITIssueTracker.API/bin/Debug/net5.0/Microsoft.OpenApi.dll
AITIssueTracker.API/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
AITIssueTracker.API/bin/Debug/net5.0/Newtonsoft.Json.dll
AITIssueTracker.API/bin/Debug/net5.0/Npgsql.dll
AITIssueTracker.API/bin/Debug/net5.0/Scrutor.dll
AITIssueTracker.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Annotations.dll
AITIssueTracker.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Filters.Abstractions.dll
AITIssueTracker.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Filters.dll
AITIssueTracker.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Newtonsoft.dll
AITIssueTracker.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
AITIssueTracker.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
AITIssueTracker.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
AITIssueTracker.API/bin/Debug/net5.0/ref/AITIssueTracker.API.dll
AITIssueTracker.API/obj/AITIssueTracker.API.csproj.nuget.dgspec.json
AITIssueTracker.API/obj/AITIssueTracker.API.csproj.nuget.g.props
AITIssueTracker.API/obj/AITIssueTracker.API.csproj.nuget.g.targets
AITIssueTracker.API/obj/AITIssueTracker.csproj.nuget.dgspec.json
AITIssueTracker.API/obj/AITIssueTracker.csproj.nuget.g.props
AITIssueTracker.API/obj/AITIssueTracker.csproj.nuget.g.targets
AITIssueTracker.API/obj/project.assets.json
AITIssueTracker.API/obj/project.nuget.cache
AITIssueTracker.API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.AssemblyInfo.cs
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.AssemblyInfoInputs.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.assets.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.csproj.CopyComplete
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.csproj.CoreCompileInputs.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.csproj.FileListAbsolute.txt
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.csprojAssemblyReference.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.dll
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.GeneratedMSBuildEditorConfig.editorconfig
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.genruntimeconfig.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.MvcApplicationPartsAssemblyInfo.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.MvcApplicationPartsAssemblyInfo.cs
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.pdb
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.RazorTargetAssemblyInfo.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.API.xml
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.AssemblyInfo.cs
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.AssemblyInfoInputs.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.assets.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.csprojAssemblyReference.cache
AITIssueTracker.API/obj/Debug/net5.0/AITIssueTracker.GeneratedMSBuildEditorConfig.editorconfig
AITIssueTracker.API/obj/Debug/net5.0/apphost.exe
AITIssueTracker.API/obj/Debug/net5.0/project.razor.json
AITIssueTracker.API/obj/Debug/net5.0/ref/AITIssueTracker.API.dll
AITIssueTracker.API/obj/Debug/net5.0/staticwebassets/AITIssueTracker.API.StaticWebAssets.Manifest.cache
AITIssueTracker.API/obj/Debug/net5.0/staticwebassets/AITIssueTracker.API.StaticWebAssets.xml
AITIssueTracker.API/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
AITIssueTracker.API/obj/Release/net5.0/AITIssueTracker.AssemblyInfo.cs
AITIssueTracker.API/obj/Release/net5.0/AITIssueTracker.AssemblyInfoInputs.cache
AITIssueTracker.API/obj/Release/net5.0/AITIssueTracker.GeneratedMSBuildEditorConfig.editorconfig
AITIssueTracker.API/AITIssueTracker.API.csproj
AITIssueTracker.API/AITIssueTracker.API.csproj.user
